@use '../../styles/colors' as *;

.stepper {
  display: flex;
  align-items: center;
}

.stepWrapper {
  display: flex;
  align-items: center;
  flex: 1;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.circle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 2px solid $gray-400;
  background: $gray-50;
  color: $gray-500;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.circleActive {
  border-color: $gray-700;
  color: $gray-700;
  background: $white;
}

.circleCompleted {
  border-color: $gray-700;
  background: $gray-700;
  color: $white;
}

.circleFuture {
  opacity: 0.6;
}

.label {
  font-size: 12px;
  color: $gray-700;
  text-align: center;
}

.line {
  flex: 1;
  height: 2px;
  background-color: $gray-400;
  margin: 0 12px;
}

.lineCompleted {
  background-color: $gray-700;
}
