.stepper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #ccc;
  color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.circleActive {
  @extend .circle;
  border-color: var(--color-primary);
  color: var(--color-primary);
  font-weight: bold;
}

.circleCompleted {
  @extend .circle;
  background: var(--color-primary);
  border-color: var(--color-primary);
}

.label {
  font-size: 12px;
  color: #666;
}
