@use '../../styles/colors' as *;

.wrapper {
  min-height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 520px;
  padding: 40px 48px;
  border-radius: 8px;
  border: 1px solid $gray-200;
  background-color: $white;
  text-align: center;
}

.iconCircle {
  width: 96px;
  height: 96px;
  margin: 0 auto 24px;
  border-radius: 50%;
  border: 1px solid $gray-300;
  background-color: $gray-100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check {
  font-size: 40px;
  line-height: 1;
  color: $gray-600;
}

.title {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 500;
  color: $gray-800;
}
