// Neutral grayscale colors
$gray-50: #f7f9fc;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #d5d9e0;
$gray-500: #7a7f87;
$gray-600: #4b5563;
$gray-700: #2c3545;
$gray-800: #111827;
$gray-900: #666666;

$white: #ffffff;
