.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.field {
}

.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input {
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid #d1d5db;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  // margin-top: 8px;
}
.error {
  color: #dc2626;
  font-size: 12px;
  margin-top: 4px;
}
