@use '../../../styles/colors' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input {
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid $gray-300;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.error {
  color: var(--color-error);
  font-size: 12px;
  margin-top: 4px;
}
