.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.field {
}

.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input,
.textarea {
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid #d1d5db;
}

.textarea {
  min-height: 80px;
  resize: vertical;
}
