@use '../../../styles/colors' as *;

.container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input,
.textarea {
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid $gray-300;
}

.textarea {
  min-height: 80px;
  resize: vertical;
}
